@use '../../assets/styles/variables.scss' as styleVar;

// Basic styling for Footer
.admin-footer {
  background: styleVar.$primary-color-dark;
  color: styleVar.$neutral-white;
  text-align: center;
  padding: styleVar.$spacing-md 0;
  font-size: 0.95rem;
  margin-top: auto;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.04);
}
